body {
  margin: auto;
  width: 22.5rem;
  font-family: Hanken Grotesk, sans-serif;
  font-size: 1.125rem;
  font-weight: 500;
}
header {
  background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  margin: 0, auto;
  box-sizing: border-box;
  height: 20rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  color: hsl(0, 0%, 100%);
  justify-content: space-evenly;
  align-items: center;
  border-radius: 0 0 2rem 2rem;
}
.result {
  color: hsla(0, 0%, 100%, 0.75);
  font-size: 1.0625rem;
}
#result p {
  margin: 0.25rem;
}
.value {
  font-weight: 800;
  font-size: 3rem;
}
.of-value {
  font-size: 0.9375rem;
  color: hsla(0, 0%, 100%, 0.75);
}
.remark {
  font-size: 1.5rem;
  font-weight: 700;
}
.remark p {
  margin-bottom: 0.5rem;
}
.statement {
  padding: 0 3.5rem;
  margin-bottom: 1rem;
  font-size: 0.9375rem;
  color: hsla(0, 0%, 100%, 0.5);
}
.statement p {
  margin: 0;
  margin-bottom: 1rem;
}
#summary p {
  padding-left: 2rem;
  margin: 0;
  margin-top: 1rem;
}

#result {
  background-image: linear-gradient(
    hsla(256, 72%, 46%, 1),
    hsla(241, 72%, 46%, 0)
  );
  width: 6rem;
  height: 6rem;
  padding: 1rem;
  border-radius: 50%;
  text-align: center;
}
.scores {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 20rem;
  padding: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
}
section {
  margin: auto;
  width: 22rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.skill {
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
}

.reaction {
  background-color: hsla(0, 100%, 67%, 0.1);
}
.memory {
  background-color: hsla(39, 100%, 56%, 0.1);
}
.verbal {
  background-color: hsla(166, 100%, 37%, 0.1);
}
.visual {
  background-color: hsla(234, 85%, 45%, 0.1);
}
.skillset {
  padding-left: 1rem;
}
.skillset .reaction span {
  color: hsla(0, 100%, 67%, 0.1);
}
button {
  width: 20rem;
  padding: 1rem;
  border-radius: 1.5rem;
  background-color: hsl(224, 30%, 27%);
  color: hsl(0, 0%, 100%);
  margin-bottom: 1rem;
  font-size: 0.9375rem;
  font-weight: 700;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
